{% extends 'base.html.twig' %}

{% block body %}
	{% block navigation %}
		{{ parent() }}
	{% endblock %}

	<div class="content" style="margin-top: 20px;">
		<div class="space-before-body"></div>
		<div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3">
			<div class="card-body p-0">
				<h4 class="fw-700 text-grey-900 font-xssss mt-1 mb-4">Edit Post</h4>

				{# {{ form_start(form, {'attr': {'class': 'p-0'}}) }} #}

				{{ form_start(form, {
    'attr': {
        'novalidate': 'novalidate',
        'data-turbo': 'false'
    }
}) }}
				<div class="content" style="margin-top: 60px;">
					<div class="form-group">
						{{ form_row(form.type, {
                        'attr': {
                            'class': 'form-control'
                        }
                    }) }}
					</div>


					{# Title field #}
					<div class="form-group">
						{{ form_label(form.title) }}
						{{ form_widget(form.title) }}
						<div class="error-message">
							{{ form_errors(form.title) }}
						</div>
					</div>

					{# Description field #}
					<div class="form-group">
						{{ form_label(form.description) }}
						{{ form_widget(form.description) }}
						<div class="error-message">
							{{ form_errors(form.description) }}
						</div>

					</div>


					<div class="form-group">
						{{ form_row(form.status, {
                        'attr': {
                            'class': 'form-control'
                        }
                    }) }}
					</div>
					{# file field #}
					<div class="form-group">
						{{ form_row(form.fileUpload) }}
						{% if post.file %}
							<div>Current file:
								{{ post.file }}</div>
						{% endif %}
						{{ form_rest(form) }}
					</div>
					<!-- Move the buttons here, outside of the form fields -->
					<div class="mt-4">
						<button type="submit" class="btn btn-primary">Update Post</button>
						<a href="{{ path('app_posts') }}" class="btn btn-light ms-2">Cancel</a>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>

	{% endblock %}
