{% extends 'base.html.twig' %}

{% block titlebody %}
<div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left">
        <div class="row">
            <div class="col-xl-12 mb-4">
                <div class="row">
                    <div class="col-lg-12 mb-3">
                        <div class="card p-lg-5 p-4 bg-primary-gradiant rounded-3 shadow-xss bg-pattern border-0 overflow-hidden">
                            <div class="bg-pattern-div"></div>
                            <h2 class="display2-size display2-md-size fw-700 text-white mb-0 mt-0">Add Request </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
 <div class="card p-4 shadow-lg" style="width: 50rem;">
    <div class="text-center mb-4">
        <img src="{{ asset('images/form1.jpg') }}" alt="Illustration" class="img-fluid" style="max-height: 1000px;">
    </div>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <div class="mb-3">
        <label>{{ form_label(form.expire_date) }}</label>
        {{ form_widget(form.expire_date, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        <label>{{ form_label(form.user_id_id) }}</label>
        {{ form_widget(form.user_id_id, {'attr': {'class': 'form-control'}}) }}
        <div class="text-danger">
            {{ form_errors(form.user_id_id) }}
        </div>
    </div>

    <div class="mb-3">
        <label>{{ form_label(form.message) }}</label>
        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'id': 'message'}}) }} <!-- ID ajouté ici -->
        <div class="text-danger">
            {{ form_errors(form.message) }}
        </div>
    </div>
    <div class="mb-3">
        <label>{{ form_label(form.priorite) }}</label>
        {{ form_widget(form.priorite, {'attr': {'class': 'form-control', 'id': 'priorite'}}) }} <!-- ID ajouté ici -->
        <div class="text-danger">
            {{ form_errors(form.priorite) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" class="btn w-100 p-3 mt-3 font-xsss text-center text-white bg-current rounded-3 text-uppercase fw-600 ls-3">Soumettre la demande</button>
        </div>
    </div>

    {{ form_end(form) }}

</div>
</div>







{% endblock %}
