{% extends 'base.html.twig' %}
{% block title %}
<div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left">
        <div class="row">
            <div class="col-xl-12 mb-4">
                <div class="row">
                    <div class="col-lg-12 mb-3">
                        <div class="card p-lg-5 p-4 bg-primary-gradiant rounded-3 shadow-xss bg-pattern border-0 overflow-hidden">
                            <div class="bg-pattern-div"></div>
                            <h2 class="display2-size display2-md-size fw-700 text-white mb-0 mt-0">Liste Ressources  </h2>
                        </div>
                    </div>                                 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %} 
{% block content%}
       <div class="row">
    {% for ressource in ressources %}
        <div class="col-md-4 col-sm-6 pe-2 ps-2">
            <div class="card d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3">
                <div class="card-body d-block w-100 p-4 text-center">
                  <!-- Vérifier si l'image existe dans la base de données -->
                 {% if ressource.image %}
   <img src="{{ asset('uploads/images/' ~ ressource.image) }}" alt="Image de la ressource" 
         style="width: 100%; height: auto; max-width: 300px; max-height: 200px; object-fit: cover;">
{% else %}
    <p>No image available</p>
{% endif %}

                    <div class="clearfix"></div>
                    <h4 class="fw-700 font-xss mt-3 mb-0">{{ ressource.type }}</h4>
                    <p class="fw-500 font-xss text-grey-500 mt-0 mb-3">{{ ressource.description }}</p>
                    <ul class="d-flex align-items-center justify-content-center mt-1">
                        <li class="m-2">

                            <h1 class="fw-700 font-sm">Status </h1>
                              <p class="fw-500 font-xss text-grey-500 mt-0 mb-3">{{ ressource.status }}</p>  
                           
                        </li>
                    </ul>
                    
                    
                    <a href="{{ path('demande_create', {'id': ressource.id}) }}" 
   class="mt-4 p-0 btn p-2 lh-24 w100 ms-1 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white 
   {% if ressource.status == 'indisponible' %} disabled {% endif %}">
    Demander
</a>

                </div>
            </div>
        </div>
    {% else %}
        <p class="text-center">Aucune ressource trouvée.</p>
    {% endfor %}
   {% endblock %}