{% extends "backOffice/base.html.twig" %}{% block title %}Point List{% endblock
%} {% block content %} 
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                <div>
                    <h4 class="mb-3">Point List</h4>

                </div>
                <a href="{{path("add_point")}}" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Add Point</a>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="table-responsive rounded mb-3">
            <table class="data-tables table mb-0 tbl-server-info">
                <thead class="bg-white text-uppercase">
                    <tr class="ligth ligth-data">
                        <th>
                            <div class="checkbox d-inline-block">
                                <input type="checkbox" class="checkbox-input" id="checkbox1">
                                <label for="checkbox1" class="mb-0"></label>
                            </div>
                        </th>
                        <th>Point</th>
                        <th>Category</th>
                        <th>Places</th>
                        <th>Address</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="ligth-body">
                    {% for point in points %}
                    <tr>
                        <td>
                            <div class="checkbox d-inline-block">
                                <input type="checkbox" class="checkbox-input" id="checkbox2">
                                <label for="checkbox2" class="mb-0"></label>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="{{ asset('uploads/images/' ~ point.image) }}" class="img-fluid rounded avatar-50 mr-3" alt="image">
                                <div>
                                    {{ point.name }}
                                </div>
                            </div>
                        </td>
                        <td>{{ point.adresse }}</td>
                        <td>                      
                            {{ point.createdAt|date('Y-m-d H:i') }}
                       </td>
                        <td>
                            <div class="d-flex align-items-center list-action">
                                <a class="badge badge-info mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="View"
                                    href="#"><i class="ri-eye-line mr-0"></i></a>
                                <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                    href="{{ path('edit_point', {'id': point.id}) }}"><i class="ri-pencil-line mr-0"></i></a>
                                <a class="badge bg-warning mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"
                                    href="{{ path('delete_point', {'id': point.id}) }}"><i class="ri-delete-bin-line mr-0"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <!-- Page end  -->
</div>{% endblock %}
