{% extends "frontoffice/base.html.twig" %}{% block title %}Ajouter Demande{%
endblock %} {% block content %}
<div class="main-content bg-lightblue theme-dark-bg right-chat-active">
  <div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left">
      <div class="middle-wrap">
        <div class="card w-100 border-0 bg-white shadow-xs p-0 mb-4">
          <div class="card-body p-4 w-100 bg-current border-0 d-flex rounded-3">
            <a href="" class="d-inline-block mt-2">
              <i class="ti-arrow-left font-sm text-white"></i>
            </a>
            <h4 class="font-xs text-white fw-600 ms-4 mb-0 mt-2">
              {% if (action =="Ajouter")%}Ajouter {% else %} Modifier {% endif
              %}Demande
            </h4>
          </div>
          <div class="card-body p-lg-5 p-4 w-100 border-0">
            <form method="post" enctype="multipart/form-data">
              {{ form_start(form) }}

              <div class="row">
                <div class="col-lg-12 mb-3">
                  <p>
                    Vous allez ajouter une demande pour l'utilisateur
                    {{ ressource.userId.nom }} {{ ressource.userId.prenom }}.
                    Ressource: {{ ressource.nameR }} , merci de remplir ce
                    formulaire.
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 mb-3">
                  <div class="form-group">
                    {{ form_row(form.expire_date) }}
                  </div>
                </div>
                <div class="col-lg-6 mb-3">
                  <div class="form-group">
                    {{ form_row(form.priorite) }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 mb-3">
                  <div class="form-group">
                    {{ form_row(form.message) }}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 mb-0">
                  <button
                    type="submit"
                    class="bg-current text-center text-white font-xsss fw-600 p-3 w175 rounded-3 d-inline-block"
                  >
                    Comfirmer
                  </button>
                </div>
              </div>
              {{ form_end(form) }}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
