{% extends "backoffice/base.html.twig" %} {% block title %}List Users{% endblock
%} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div
        class="d-flex flex-wrap align-items-center justify-content-between mb-4"
      >
        <div>
          <h4 class="mb-3">Users List</h4>
          <p class="mb-0">
            This dashboard provides a comprehensive list of Agriculture
            Investors, Recycling Investors,<br />
            and Resource Investors. Easily manage and visualize investor data to
            optimize engagement and ensure successful investments.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="table-responsive rounded mb-3">
        <table class="data-tables table mb-0 tbl-server-info">
          <thead class="bg-white text-uppercase">
            <tr class="ligth ligth-data">
              <th>Profile</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone No.</th>
              <th>Address</th>
              <th>Type</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="ligth-body">
            {% for user in users %} {% if user.roles[0] != "ROLE_ADMIN" %}
            <tr>
              <td class="text-center">
                <img
                  class="rounded img-fluid avatar-40"
                  src="{{ asset('uploads/images/' ~ user.image) }}"
                  alt="profile"
                />
              </td>
              <td>{{ user.nom }} {{ user.prenom }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.telephone }}</td>
              <td>{{ user.adresse }}</td>
              {% if user.roles[0] == "ROLE_RESOURCE_INVESTOR" %}
              <td>Ressource Investor</td>
              {% elseif user.roles[0] == "ROLE_RECYCLING_INVESTOR" %}
              <td>Recycling Investor</td>
              {% elseif user.roles[0] == "ROLE_AGRICULTURE" %}
              <td>Agriculture</td>
              {% endif %}
              <td>
                <div
                  class="badge {{
                    user.Status == 'approved'
                      ? 'badge-success'
                      : user.Status == 'pending'
                      ? 'badge-warning'
                      : 'badge-danger'
                  }}"
                >
                  {{ user.Status }}
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center list-action">
                  <a
                    class="badge badge-info mr-2"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=""
                    data-original-title="View"
                    href="{{ path('app_detail_users', { id: user.id }) }}"
                    ><i class="ri-eye-line mr-0"></i
                  ></a>
                  {% if user.Status == "pending" %}
                  <a
                    class="badge bg-primary mr-2"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=""
                    data-original-title="Accept"
                    href="{{ path('app_accept_users', { id: user.id }) }}"
                    ><i class="ri-check-line mr-0"></i
                  ></a>
                  {% endif %}
                  <a
                    class="badge bg-success mr-2"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=""
                    data-original-title="Edit"
                    href="{{ path('app_update_users', { id: user.id }) }}"
                    ><i class="ri-pencil-line mr-0"></i
                  ></a>
                  <a
                    class="badge bg-warning mr-2"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=""
                    data-original-title="Delete"
                    href="{{ path('app_delete_users', { id: user.id }) }}"
                    ><i class="ri-delete-bin-line mr-0"></i
                  ></a>
                </div>
              </td>
            </tr>
            {% endif %} {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Page end  -->
</div>
<!-- Modal Edit -->
<div
  class="modal fade"
  id="edit-note"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="popup text-left">
          <div class="media align-items-top justify-content-between">
            <h3 class="mb-3">Product</h3>
            <div class="btn-cancel p-0" data-dismiss="modal">
              <i class="las la-times"></i>
            </div>
          </div>
          <div class="content edit-notes">
            <div
              class="card card-transparent card-block card-stretch event-note mb-0"
            >
              <div class="card-body px-0 bukmark">
                <div
                  class="d-flex align-items-center justify-content-between pb-2 mb-3 border-bottom"
                >
                  <div class="quill-tool"></div>
                </div>
                <div id="quill-toolbar1">
                  <p>
                    Virtual Digital Marketing Course every week on Monday,
                    Wednesday and Saturday.Virtual Digital Marketing Course
                    every week on Monday
                  </p>
                </div>
              </div>
              <div class="card-footer border-0">
                <div
                  class="d-flex flex-wrap align-items-ceter justify-content-end"
                >
                  <div class="btn btn-primary mr-3" data-dismiss="modal">
                    Cancel
                  </div>
                  <div class="btn btn-outline-primary" data-dismiss="modal">
                    Save
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
